# Rendu du site : client cartiflette publié et dépendances des cas d'usage
cartiflette>=0.4.0
geopandas
pandas
openpyxl
python-calamine
matplotlib
folium
mapclassify
requests
py7zr
jupyter
nbformat
nbclient
ipykernel
