# Rendu du site : client cartiflette publié et dépendances des cas d'usage
cartiflette>=0.2.1
geopandas
pandas
openpyxl
python-calamine
matplotlib
folium
mapclassify
requests
py7zr
jupyter
nbformat
nbclient
ipykernel
