/*-- scss:defaults --*/
$primary: #ffce67;
$background_color: #fff;
$text_color: #000;
$background_button: #ffce67;
$text_button: #000;
$navlink_text: #000;
$navlink_hover: #fff;
$navlink_active: #fff;
$navlink_active_hover: #000;
$placeholder: #000;
$geoviewer: #fff;
$geoviewer_text: #000;

/*-- scss:rules --*/
body {
    background-color: $background_color !important;
    color: $text_color !important;
}

.nav-link, .navbar-title {
    color: $navlink_text !important;
}
.nav-link:hover, .navbar-title:hover {
    color: $navlink_hover !important;
}
.active {
    color: $navlink_active !important;
}
.active:hover {
    color: $navlink_active_hover !important;
}

.btn-quarto:not(#buttonReset) {
    background-color: $background_button !important;
    color: $text_button !important;
    border: none;
    margin-bottom: 0.15rem;
    font-size: x-small;
}

.code-bloc-title {
    background-color: $primary !important;
    color: $text_color !important;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    font-weight: bold;
    align-items: center;
}

:is(h1, h2, h3, h4, h5, h6) {
    color: $text_color !important;
}

select, input {
    background-color: $background_color !important;
    border-radius: 8px;
}
input::placeholder {
    color: $placeholder !important;
}

#geoviewer {
    background-color: $geoviewer !important;
    color: $geoviewer_text !important;
    border-radius: 15px;
}
