/*-- scss:defaults --*/
$primary: #ffce67 ;

/*-- scss:rules --*/
.nav-link, .navbar-title {
    color: #000;
}
.nav-link:hover, .navbar-title:hover {
    color: #fff;
}

.active {
    color: #fff !important;
}
.active:hover {
    color: #000 !important;
}

.btn-quarto {
    background-color: $primary;
    border: none;
    font-size: smaller;
    margin-bottom: 0.15rem;
}

output[name="output"] .btn {
    vertical-align: text-bottom;
}

output[name="output"] .btn  .cross-delete-item {
    vertical-align: middle;
}

.code-bloc-title {
    background-color: $primary;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    font-weight: bold;
    align-items: center;
}

.code, div[name="choice-code"], div[name="choice-code_departements"] {
    border: solid 0.1rem $primary;
}

.cartiflette-example {
    display: flex;
    justify-content: space-between;
}

div[name="choice-code"] > form, div[name="choice-code_departements"] > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    --label-width: auto;
    gap: 0.3rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

div[name="choice-code"] > form > label, div[name="choice-code_departements"] > form > label {
    background-color: $primary;
    padding: 0.5rem;
    font-weight: bold;
    align-self: stretch;
    margin-right: 0;
    text-align: center;
}

div[name="choice-code"] > form > div > label, div[name="choice-code_departements"] > form > div > label {
    align-items: baseline;
}
